<div id="header-container">
    <header>
        <div id="logo">
            <div id="logo-container">
                <a href="/"><img src="/img/logo.svg" alt=""></a>
            </div>
        </div>
        <div id="navigation-points">
            <div class="navigation-point"><a href="/about">about</a></div>
            <div class="navigation-point"><a href="/preview">preview</a></div>
            <div class="navigation-point"><a href="/team">team</a></div>
        </div>
    </header>
</div>


<div class="container">
